/* Page.scss - Main Styles for Page
 * Author: Lisa Maddock
 *
 * Designed for Mobile First
 *
 */

body {
	color: $text-default-color;
}
a {
	color: $link-default-color;
}
.browser-update {
	margin: 0.2em 0;
	background: $gray-light;
	padding: 0.2em 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], .ng-cloak {
	display: none;
}

.search-box {
	margin-bottom: $margin-sm;

	.inner {
		background: $gray-bg;
		text-align: center;
		margin: $margin-sm 0 0 0;
		padding: $padding-lg $padding-m;
		@include border-radius(5px);

		h1 {
			margin-top: 0;
		}
		.input-group-btn .glyphicon {
			top: 0;
		}
		.help-block {
			font-size: $font-size-sm;
			text-align: left;
			margin-left: $margin-xs;
		}
	}
}

.loading-indicator {
	display: block;
	margin: 0 auto;
}

.no-results, .error-msg {
	margin-top: $margin-m;
}

.results {
	.repo-filter,
	.description {
		font-size: $font-size-sm;
	}
	.repo-filter {
		padding: 0 $padding-xs;
		margin-top: $margin-xs;
	}
	.no-repos {
		margin: 0;
	}
}

.user-box {
	padding: 10px 0 15px 0;

	img {
		float: left;
		margin-right: $margin-sm;
		height: 70px;
		width: 70px;
		@include border-radius(50px);
		@include box-shadow(rgba(0, 0, 0, 0.2) 0 2px 3px);
	}
	.details {
		float: left;
	}
	h4 {
		margin: 0;
	}
	.nick, .email, .location, .web {
		font-size: $font-size-sm;
	}
	.glyphicon {
		padding-right: 3px;
	}
}


@media screen and (min-width: $screen-xs) {
	.results {
		.repo-filter {

		}
	}
}
/* Tablets and up */
@media screen and (min-width: $screen-sm) {
	.results {
		.description {
			font-size: $font-size-base;
		}
	}
}
